* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    background-image: url(https://img.freepik.com/premium-photo/red-black-background-with-gradient-light_674886-727.jpg?w=996);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0.5%;
    font-family: Helvetica;
}

.content {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    overflow: hidden;
    /* background-repeat: no-repeat; */
    background-size: contain;
    background-image: url(https://cdn.pixabay.com/photo/2017/08/10/00/40/stars-2616537_960_720.jpg);

}

.content img {
    margin-left: 10%;
    filter: blur(2%);
    width: 20%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    mix-blend-mode: multiply;
}

.time {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    color: white;

}



.div {
    margin-top: 1%;
    display: flex;
    /* padding: 0.2%; */

    border-radius: 10px;
    box-shadow: 0 0 500px #08e45c;
    }
    
    .one {
    text-align: center;
    padding: 15px 25px;
    color: white;
    box-shadow: 0 0 1px hsla(143, 82%, 83%, 0.281);
}

h2 {
    font-size: 60px;
}

p {
    font-weight: 900;
    opacity: .5;
}

button {
    font-size: 20px;
    margin-top: 8%;
    padding: 15px 25px;
    font-weight: 400;
    border: none;
    background-color: #E40838;
    color: white;
    border-radius: 10px;
}